<% if notice.present? %>
    <div class="container" style="margin-bottom: 50px">
        <div class="col-md-12" style="padding: 0;">
            <div id="notice" class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <%= notice %>
                </div>      
            </div>
        </div>
    </div>
<% end%>

<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="text-center">
                <img 
                    src="https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/59/WhatsApp_Image_2018-10-25_at_1.53.16_PM.jpeg" 
                    alt=""
                    class="img-fluid mt-4"
                >
            </div>
            <div class="card login-box">
                <div class="card-body">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", :placeholder => "Email" %>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", :placeholder => "Password" %>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Confirmation Password</label>
                        <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "user_pass", class: "form form-control", placeholder: "Confirmation Password" %>
                    </div>

                    <div class="col-md-12 text-center">
                        <%= link_to "Login", new_session_path(resource_name), data: {turbolinks: false} %>
                    </div>

                    <div class="form-group btn-container mt-3">
                        <%= f.submit "Register", class: "btn btn-secondary btn-block btn-submit" %>
                    </div>

                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
        <div class="login">
            <div class="wrap">

                <div id="toggle-wrap">
                    <div id="toggle-terms">
                        <div id="cross">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>

                <div class="terms">
                   <%# render "terminos"%>
                </div>


                <div class="content">

                    <div id="slideshow">
                        <div class="one">

                        </div>
                        <div class="two">

                        </div>
                        <div class="three">

                        </div>
                        <div class="four">

                        </div>
                    </div>

                </div>

                <div class="user">

                    <div class="form-wrap">
                     
                            <h3 class="login-tab"><a class="log-in active" href="#login-tab-content"><span>Registro<span></a></h3>
                        

                      <div class="tabs-content">

                        <div id="login-tab-content" class="active">

                          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                            <%= devise_error_messages! %>


                                <p id="login_names">Email</p>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "user_login", class: "input" , :required => true%>

                                 <p id="login_names">Contraseña</p>
                                  <% if @minimum_password_length %>
                                   
                                  <% end %>
                                    <%= f.password_field :password, autocomplete: "new-password", id: "user_login", class: "input" %>

                                
                                <p id="login_names">Confirmar Contraseña</p>
                                 <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "user_pass", class: "input" %>
                            <div class="actions">
                                 <%= f.submit "Registrarme", class: "button" %><br>
                            </div>
                          <% end %>

                          <div class="help-action">
                            <p align="center"><%# render "devise/shared/links" %>
                            <i class="fa fa-arrow-left" aria-hidden="true"></i><a class="agree" href="#">Terminos Y Condicines</a><br><br>

                            <a href="/" class="btn1">Pagina Proncipal</a>

                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
-->