<% if notice.present? %>
    <div class="container" style="margin-bottom: 50px">
        <div class="col-md-12" style="padding: 0;">
            <div id="notice" class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <%= notice %>
                </div>      
            </div>
        </div>
    </div>
<% end%>

<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="text-center">
                <img 
                    src="https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/59/WhatsApp_Image_2018-10-25_at_1.53.16_PM.jpeg" 
                    alt=""
                    class="img-fluid mt-4"
                >
            </div>
            <div class="card login-box">
                <div class="card-body">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", :placeholder => "Email" %>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", :placeholder => "Password", :id => "password" %>
                        <div id="add_icon1"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Confirmation Password</label>
                        <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "user_pass", class: "form form-control", placeholder: "Confirmation Password", :id => "password_confirmation" %>
                        <div id="add_icon2"></div>
                    </div>

                    <div class="col-md-12 text-center">
                        <%= link_to "Login", new_session_path(resource_name), data: {turbolinks: false} %>
                    </div>

                    <div class="form-group btn-container mt-3">
                        <%= f.submit "Register", class: "btn btn-secondary btn-block btn-submit" %>
                    </div>

                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .icon-eye{
        color: #e1e1e1;
        cursor: pointer;
        position: relative;
        top: -27px;
        margin-right: 10px;
    }
</style>

<script>
    const add_icon1 = document.getElementById("add_icon1");
    const add_icon2 = document.getElementById("add_icon2");

    add_icon1.innerHTML = '<i class="fas fa-eye float-right icon-eye" id="change_password"></i>'
    add_icon2.innerHTML = '<i class="fas fa-eye float-right icon-eye" id="change_password_confirmation"></i>'

    const eye_imput_password = document.getElementById("change_password")
    const eye_imput_password_confirmation = document.getElementById("change_password_confirmation")




    eye_imput_password.addEventListener("click", function(){
        const imput_password = document.getElementById("password");
        if (imput_password.type === "password") {
            eye_imput_password.classList.remove("fa-eye");
            eye_imput_password.classList.add("fa-eye-slash");
            imput_password.type = "text";
        } else {
            eye_imput_password.classList.remove("fa-eye-slash");
            eye_imput_password.classList.add("fa-eye");
            imput_password.type = "password";
        }
    })

    eye_imput_password_confirmation.addEventListener("click", function(){
        const imput_password_confirmation = document.getElementById("password_confirmation");
        if (imput_password_confirmation.type === "password") {
            imput_password_confirmation.type = "text";
            eye_imput_password_confirmation.classList.remove("fa-eye");
            eye_imput_password_confirmation.classList.add("fa-eye-slash");
        } else {
            imput_password_confirmation.type = "password";
            eye_imput_password_confirmation.classList.remove("fa-eye-slash");
            eye_imput_password_confirmation.classList.add("fa-eye");
        }
    })


//<i class="far fa-eye-slash"></i>
</script>