<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    
    <style>
      .login-box{
        box-shadow: 0px 29px 147.5px 102.5px rgba(0,0,0,0.05), 0px 29px 95px 0px rgba(0,0,0,0.16);
        -webkit-perspective: 800px;
        perspective: 800px;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }

      .navbar-color{
        background: rgb(17, 58, 91);
        padding: 12px 0;
        color: #ffff;
      }

      .btn-submit{
        background: #0e395a;
        border-color: #0e395a;
      }

      .navbar-color > a{
        color: #ffff;
      }
    </style>
    <%= yield %>
    <div id="preloader"></div>
  </body>
</html>
