<!DOCTYPE html>
<html>
  <head>
    <title>Runner </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!---------------------------- BOOSTRAMP ---------------------------------->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!---------------------------- BOOSTRAMP ---------------------------------->

    <!----------------------------- carousel ---------------------------------->

    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <!------------------------------ carousel ---------------------------------->

    <!-------------------------- google-fonts ---------------------------------->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-------------------------- google-fonts ---------------------------------->

    <!-------------------------- fontawesome ---------------------------------->
     <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-------------------------- fontawesome ---------------------------------->
  </head>

<body class="app sidebar-mini rtl">
      <!-- app sidebar-mini rtl sidenav-toggled -->
    <header class="app-header">
      <a class="app-header__logo" href="/">
        <small>Brunk</small>
        <!--<img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/695/png-blanco-2.png" alt="" class="img-logo">-->
        <h5 class="mt-2 logo-text" > 
          <!-- <img class="image-logo" src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/592/isotipo_cmtica_.png" alt=""> <img style="width:155px;" src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/593/controlmaticatexto.png" alt="">-->
        </h5>
      </a>
      <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      <!-- Navbar Right Menu-->
      <ul class="app-nav">
        <!-- User Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
          <ul class="dropdown-menu settings-menu dropdown-menu-right">
              <%= link_to edit_runner_registration_path, class: "dropdown-item" do %>
                  <i class="fa fa-user fa-lg"></i> Account
              <% end -%>
            </li>
            <li>
              <%= link_to destroy_runner_session_path, method: :delete, class: "dropdown-item" do %>
                  <i class="fas fa-sign-out-alt mr-2 fa-lg"></i> Log Out</a>
              <% end -%>
            </li>
          </ul>
        </li>
      </ul>
    </header>
    <!-- Sidebar menu-->

    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>

    <aside class="app-sidebar">
      <div class="app-sidebar__user">
        <%= current_runner.image.present? ? image_tag(current_user.avatar_url(), class: "app-sidebar__user-avatar") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "app-sidebar__user-avatar")%>
        <div>
          <p class="app-sidebar__user-name"><%= current_runner.name.present? ? current_runner.name : "User" %></p>
          <p class="app-sidebar__user-designation" style="color:#a09e9e"><%= current_runner.email %></p>
        </div>
      </div>

      <ul class="app-menu">
        <li>
          <%= link_to root_path, class: "app-menu__item" do %>
            <i class="app-menu__icon fas fa-home"></i><span class="app-menu__label pl-0">Home</span>
          <% end -%>
        </li>

        <li>
          <%= link_to new_property_path, class: "app-menu__item" do %>
            <i class="app-menu__icon fas fa-building"></i><span class="app-menu__label pl-0">New Property</span>
          <% end -%>
        </li>

        <li>
          <%= link_to runner_home_path, class: "app-menu__item" do %>
            <i class="app-menu__icon fas fa-home"></i><span class="app-menu__label pl-0">My Properties</span>
          <% end -%>
        </li>

        <li>
          <%= link_to pagina_show_path, class: "app-menu__item" do %>
            <i class="app-menu__icon fas fa-donate"></i><span class="app-menu__label pl-0">Exchange Properties</span>
          <% end -%>
        </li>

        <li>
          <%= link_to index_contacs_path, class: "app-menu__item" do %>
            <i class="app-menu__icon fas fa-headset"></i><span class="app-menu__label pl-0">Video call request</span>
          <% end -%>
        </li>

        <li>
          <%= link_to my_brunks_path, class: "app-menu__item" do %>
            <i class="app-menu__icon fas fa-user"></i><span class="app-menu__label pl-0">Brunk Requested</span>
          <% end -%>
        </li>

        <li>
          <%= link_to brunks_required_path, class: "app-menu__item" do %>
            <i class="app-menu__icon fas fa-users"></i><span class="app-menu__label pl-0">Requests for Brunk</span>
          <% end -%>
        </li>

      </ul>
    </aside>

    <main class="app-content">
      <div class="app-title">
        <div>
          <h1>
            <i class='app-menu__icon fa fa-user'></i> 
              Proveedores
          </h1>
          <p>Gestiona tus proveedores</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class='breadcrumb-item'> <a href='/users/index'>Index</a></li>
        </ul> 
      </div>

        <%= yield %>
    </main>
    

  <script type="text/javascript">
    jQuery(document).ready(function($) {
      (function () {
        "use strict";

        var treeviewMenu = $('.app-menu');  
        

        // Toggle Sidebar
        $('[data-toggle="sidebar"]').click(function(event) {
          event.preventDefault();
          $('.app').toggleClass('sidenav-toggled');
        });


        // Activate sidebar treeview toggle
        $("[data-toggle='treeview']").click(function(event) {
          event.preventDefault();
          if(!$(this).parent().hasClass('is-expanded')) {
            treeviewMenu.find("[data-toggle='treeview']").parent().removeClass('is-expanded');
          }
          $(this).parent().toggleClass('is-expanded');
        });

        // Set initial active toggle
        $("[data-toggle='treeview.'].is-expanded").parent().toggleClass('is-expanded');

        //Activate bootstrip tooltips
        $("[data-toggle='tooltip']").tooltip();

        })();

    });
  </script>

<style>
  .img-logo{
    height: 36px;
    position: relative;
    top: -8px;
  }
  .img-container{
    position: absolute;
    bottom:50px;
  }
</style>


<!--
</script>
    <nav class="navbar">
        <div class="container-fluid" style="background: #fff;">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="index.html">LOGO</a>
            </div>
        </div>
    </nav>

    <section>
        <aside id="leftsidebar" class="sidebar">
            <div class="user-info">
                <div class="image">
                    
                    <%= current_runner.image? ? image_tag(current_runner.image_url(:medium)) : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", style: "width:85px;height:80px")%>
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_runner.name%></div>
                    <div class="email"><%= current_runner.email%></div>
                </div>
            </div>
            <div class="menu" style="overflow: scroll !important;">
                <ul class="list">
                    <li class="header">Runner Menu</li>
                    <br>
                    <li class="active">
                        <%= link_to root_path do %>
                            <i class="fas fa-home" id="icon_menu"></i><b> Home</b>
                        <% end -%>
                    </li>
                    <li>
                        <%= link_to  new_property_path do %>
                            <i class="fas fa-building" id="icon_menu"></i><b> New Property</b>
                        <% end -%>
                    </li>

                    <li class="active">
                        <%= link_to  runner_home_path do %>
                            <i class="fas fa-home" id="icon_menu"></i><b> My Properties</b>
                        <% end -%>
                    </li>

                    <li>
                        <%= link_to  pagina_show_path do %>
                            <i class="fas fa-exchange-alt" id="icon_menu"></i><b> Exchange Properties</b>
                        <% end -%>
                    </li>
                     <li>
                        <%= link_to  index_contacs_path do %>
                            <i class="fas fa-headset" id="icon_menu"></i><b> Video call request</b>
                        <% end -%>
                    </li>    
                 

                    
                    <li>
                        <%= link_to  my_brunks_path do %>
                            <i class="fas fa-user" id="icon_menu"></i><b> Brunk Requested</b>
                        <% end -%>
                    </li>

                   
                       <li>
                        <%= link_to  brunks_required_path do %>
                            <i class="fas fa-users" id="icon_menu"></i><b> Requests for Brunk</b>
                        <% end -%>
                    </li>
                    <li>
                        <%= link_to  edit_runner_registration_path do %>
                            <i class="fas fa-pencil-alt" id="icon_menu"></i><b> Edit Account</b>
                        <% end -%>
                    </li>

                    <li>
                        <%= link_to  destroy_runner_session_path, method: :delete do %>
                            <i class="fas fa-power-off" id="icon_menu" style="color: red;"></i><b> Log Out</b>
                        <% end -%>
                    </li>
                    <div style="margin-bottom: 100px;"></div>
                    <br><br>
                </ul>
            </div>

        </aside>

        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#skins" data-toggle="tab">SKINS</a></li>
                <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
            </ul>
                <div role="tabpanel" class="tab-pane fade" id="settings">
                    <div class="demo-settings">
                        <p>GENERAL SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Report Panel Usage</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Email Redirect</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>SYSTEM SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Notifications</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Auto Updates</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>ACCOUNT SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Offline</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Location Permission</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>

    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>DASHBOARD</h2>
            </div>

            <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding: 0px;">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="fas fa-home"></i>
                        </div>
                        <div class="content">
                            <div class="text">PROPERTIES</div>
                            <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"><%= get_properties_count %></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-right: 0px;">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="fas fa-exchange-alt"></i>
                        </div>
                        <div class="content">
                            <div class="text">FOR EXCHANGE</div>
                            <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20"><%= get_properties_true_count %></div>
                        </div>
                    </div>
                </div>
            </div>


-->