<!DOCTYPE html>
<html>
  <head>
    <title>Ebrunk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!---------------------------- BOOSTRAMP ---------------------------------->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
     
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---------------------------- BOOSTRAMP ---------------------------------->


    <!---------------------------- w3schools ---------------------------------->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!---------------------------- w3schools ---------------------------------->


    <!---------------------------- carousel ---------------------------------->


  <%= stylesheet_link_tag    'https://unpkg.com/flickity@2/dist/flickity.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-1.11.3.min.js', 'data-turbolinks-track': 'reload' %>
    
    <!---------------------------- carousel ---------------------------------->

    
  </head>

  <header id="header" class="fixed-top <%= controller_name == "welcome" && action_name == "index"  ? "" : "color-show" %>">

    <div class="container-fluid d-flex align-items-center justify-content-between">

      <h1 class="logo">
        <a href="index.html">
          <img src="https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/59/WhatsApp_Image_2018-10-25_at_1.53.16_PM.jpeg" alt="">
        </a>
      </h1>

      <nav class="nav-menu d-none d-lg-block mr-auto ml-3">
        <ul>
          <li class="active"><%= link_to "Home", root_path, data: {turbolinks: false}  %></li>
          <li><%= link_to "Properties", properties_path, data: {turbolinks: false}  %></li>
          <li><%= link_to "Runners", runners_avatar_path, data: {turbolinks: false}  %></li>

          <!--
            <li class="drop-down"><a href="">Drop Down</a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="drop-down"><a href="#">Deep Drop Down</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li>
          -->
          <!--
          <li><a href="#contact">Contact</a></li>
          -->

        </ul>
      </nav>

      <% if runner_signed_in? %>
        <%= link_to 'Edit profile', edit_runner_registration_path, :class => 'get-started-btn scrollto', data: {turbolinks: false} %>
        <%= link_to "Leave", destroy_runner_session_path, method: :delete, :class => 'get-started-btn scrollto', data: {turbolinks: false}   %>
      <% else %>
        <%= link_to "Sign in", new_runner_registration_path, :class => 'get-started-btn scrollto'  %>
        <%= link_to "Login", new_runner_session_path, :class => 'get-started-btn scrollto'  %>
      <% end -%>

    </div>
  </header>

  <body>
    <div>
      <%= yield %>
    </div>
    <div id="preloader"></div>
  </body>
</html>
